body {
  background-color: #4b4545;
  color: azure;
}


.App {
  text-align: center;
}

.main {
  display: grid;
  grid-template-columns: 80% 20%;
}

.start {
  display: inline-block;
  margin: 20px;
}

.start img {
  width: 30%;
}

.start span {
  line-height: 30px;
  font-size: large;
}

.start button {
  font-size: large;
  font-weight: 100;
}

.quiz {
  width: 100%;
  grid-column: span 2;
}

.tracker {
  position: relative;
}

.tracker-imgs {
  align-items: flex-end;
  display: flex;
  margin:auto;
}

.tracker img{
  margin: auto;
}

.answers button{
  margin: 10px auto;
  width: 80%;
  display: inline-block;
  background-color: rgb(137, 137, 177);
}

.answers button>img{
  display: block;
  width: 100px;
  height: auto;
  float: left;
}

.tracker img{
  width: 50px;
  height: auto;
  animation: fall 1s ease-in forwards;
  position: absolute;
  bottom: 50px;
  vertical-align: bottom;
}

@keyframes fall{
  0% {
    opacity: 100%;
		transform: translate(0, -70vh);
  }
  100% {
		transform: translate(0, 0);
		opacity: 99%;
	}
}